.homepageWallpaper {
  max-width: 100%;
  background-image: url(../../assets/pattern7.png);
  background-repeat: repeat-y;
  min-height: 100vh;
}
.homepageWrapper {
  background-color: rgba(255,255,255,0.75);
  width: 95%;
  padding: 20px 10px;
  text-align: center;
  margin: 0px auto;
  height: 100%;
  h1 {
    padding-top: 35px;

  }
}
.artistNameImg {
  max-width: 250px;
  margin: 0 auto;
  img {
    width: 100%; 
  }
}
.artistInputs {
  max-width: 80%;
  margin: 0 auto;
}
// For some reason, the ul for showItem was getting padding-left from something.
.showList {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.showItems {
  list-style: none;
  border: 2px solid $blue;
  margin: 15px;
  text-align: left;
  padding: 15px;
  background-color: white;
  .showItem {
    text-decoration: none;
  }
}
.journalList {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.searchBandItems {
  list-style: none;
  border: 2px solid $blue;
  margin: 15px;
  padding: 10px;
  text-align: left;
  background-color: white;
  button {
    margin: 0 auto;
    display: block;
  }
}
.signInInfo {
  display: block;
  text-align: right;
  .logoutButton {
    float: right;
    display:block;
    line-height: 20px;
    padding: 5px;
  }
  .googlePhoto {
    float: right;
    display: block;
    max-width: 40px;
    border-radius: 50%;
    margin-right: 5px;
  }
}

@media(min-width: 750px) {
  .homepageWrapper {
    max-width: 75%;
  }
}


@media(min-width: 1024px) {
  .homepageWrapper {
    max-width: 70%;
  }
  .journalList {
    max-width: 100%;
  }
  .showItems {
    float: left;
    width: calc(( 100% / 2 ) - 30px );
    min-height: 200px;
  }
  .searchBandItems {
    float: left;
    width: calc(( 100% / 2 ) - 60px);

  }
}