.homepageWallpaper {
  max-width: 100%;
  background-image: url(../assets/pattern.png);
  background-repeat: repeat-y;
  min-height: 100vh;
}
.homepageWrapper {
  background-color: rgba(255,255,255,0.95);
  width: 80%;
  padding-top: 70px;  
  text-align: center;
  margin: 0px auto;
  height: 100%;
}
.artistNameImg img {
  max-width: 250px;
}
.logoutButton {
  text-align: left;
  display: block;
}
