.homepageWallpaper {
  max-width: 100%;
  background-image: url(../../assets/pattern7.png);
  background-repeat: repeat-y;
  min-height: 100vh;
}
.homepageWrapper {
  background-color: rgba(255,255,255,0.95);
  width: 95%;
  padding-top: 20px;  
  text-align: center;
  margin: 0px auto;
  height: 100%;
}
.artistNameImg {
  max-width: 250px;
  margin: 0 auto;
  img {
    width: 100%; 
  }
}
.artistInputs {
  max-width: 80%;
  margin: 0 auto;
}
// For some reason, the ul for showItem was getting padding-left from something.
.showList {
  width: 40%;
  margin: 0 auto;
  padding: 0;
}
.showItems {
  list-style: none;
  border: 2px solid $blue;
  margin: 30px;
  text-align: left;

  .showItem {
    font-size: 1.4rem;
  }
}
.journalList {
  width: 40%;
  margin: 0 auto;
  padding: 0;
}
.searchBandItems {
  list-style: none;
  border: 2px solid $blue;
  margin: 30px;
  text-align: left;
}
.signInInfo {
  display: block;
  text-align: right;
}
.googlePhoto {
  max-width: 50px;
  border-radius: 50%;
}
.logoutButton {
  margin-top: -10px;
  margin-right: 10px;
}
