@import 'setup';
@import 'utils';
@import 'typography';

/*==========================
GLOBAL STYLES
==========================*/ 
.wallpaper {
  max-width: 100%;
  background-image: url(../assets/pattern.png);
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
}



/*==========================
MEDIA QUERIES
==========================*/