@import 'setup';
@import 'utils';
@import 'typography';
<<<<<<< HEAD
@import 'welcomepage';
@import 'homepage';
@import 'goodbye';
=======
>>>>>>> ee02609e3125f483d09c170c36dabb99d4d3cbf8

/*==========================
GLOBAL STYLES
==========================*/ 
<<<<<<< HEAD
.journalInputs {
  margin: 0 auto;
  label{
    width: 100%;
  }
}
.journalInfo {
  text-align: center;
  margin: 10px auto;
  display: block;
  width: 100%;

  label {
    display: block;
    width: 100%;
  }
}
h1 {
  img {
    max-width: 75px;
  }
}
button,
input[type=text],
input[type=submit],
textarea {
  background-color: white;
  border: 2px solid $blue;
  padding: 18px 15px;
  margin: 5px;
  font-size: 1.8rem;
  line-height: 2rem;
}
button, input[type=submit]{
  background-color:#dce3fb;
  border-radius: 3px;
}
button:hover,
input[type=submit]:hover,
button:active,
input[type=submit]:active {
  background-color: $pink;
}
input[type=text]:hover,
textarea:focus,
textarea:active {
  border: 2px solid $pink;
}
/*==========================
MEDIA QUERIES
==========================*/
@media(min-width: 750px) {
  .journalFloat {
    max-width: 50%;
    float: left;
    .journalInputs {
      float: left;
      width: calc( 100% / 2 );
    }   
  }
}

@media(min-width: 1024px) {
  .journalMemLoc  {
    float: left;
    width: calc(( 100% / 2 ));
    padding: 20px 10px;
  }  
  input#location {
    min-height: 80px;
  } 
}
=======




/*==========================
MEDIA QUERIES
==========================*/
>>>>>>> ee02609e3125f483d09c170c36dabb99d4d3cbf8
